#profile {
    border-radius: 50%;
}

.square {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background-color: rgb(179, 228, 244);
    border-color: rgb(2, 2, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
}